

    .button-container {
        display: flex;
    }

    .save-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        position: static;
        width: 180px;
        margin-right: 15px;
        
        /* Gradients/Green Button */
        background: linear-gradient(90deg, #27B18A 0%, #317D6C 100%);
        box-shadow: 0px 0px 8px rgba(39, 177, 138, 0.32);
        border-radius: 8px;
    }

    .save-button p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        /* identical to box height, or 150% */
        text-align: center;
        letter-spacing: 0.0666667px;

        /* White/Primary */
        color: #F0F8FF;

        padding: 10px 0px;
    }

    .discard-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        position: static;
        width: 180px;
        
        /* Gradients/Green Button */
        background: rgba(240, 248, 255, 0.32);
        border-radius: 8px;
    }

    .discard-button p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        /* identical to box height, or 150% */
        text-align: center;
        letter-spacing: 0.0666667px;

        /* White/Primary */
        color: #F0F8FF;

        padding: 10px 0px;
    }