/* applied CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
};

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
};

input, textarea { outline: none; }
body {
	line-height: 1;
};

ol, ul {
	list-style: none;
};

blockquote, q {
	quotes: none;
};

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
};

table {
	border-collapse: collapse;
	border-spacing: 0;
};

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
};

body {
    background-color: #22262D;
    padding-bottom: 100px;
};

span {
    font-size: 12px;
};

h3 {
    position: static;
    width: 106px;
    height: 32px;
    left: 0px;
    top: 0px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    
    letter-spacing: 0.1px;
    color: #F0F8FF;
    margin: 32px 0px;
};

label {
    position: static;
    height: 16px;
    left: 0px;
    right: 0px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.857143px;
    text-transform: uppercase;
    color: rgba(240, 248, 255, 0.32);
    margin: 8px 0px;
};

input, textarea, select  {
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    margin-top: 10px;
    margin-bottom: 30px;

    width: 488px;

    background: rgba(240, 248, 255, 0.04);
    border: 1px solid rgba(240, 248, 255, 0.32);
    
    box-sizing: border-box;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    color: rgba(240, 248, 255, 0.64);
};

input:hover, textarea:hover, select:hover {
    border: 1px white solid;
};

input:focus-visible, textarea:focus-visible {
    border: 1px #27B18A solid;
    box-shadow: none;
};

select {
    display: inline-block;
    width: 160px;
    margin-right: 5px; 
};

textarea {
    height: 100px;
};