.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

.image-upload {
    position: relative;
    max-width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;
    color: gray;
    border: 2px solid #F0F8FF;
    border-radius: 50%;
  }

  .image-upload-over {
      border-style: dashed;
  }

  .image-upload-prompt {
      font-weight: 400;
      padding: 0 10px;
      padding-top: 5px;
  }

  .hide {
    display: none;
  }

  .image-upload-input {
      display: none;
  }

  .image-upload-thumb {
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: lightgray;
    background-size: cover;
    background-position: center;
    position: relative;
  }

.show-thumb {
    display: inline;
  }

  
  .image-upload {
      margin-top: 10px;
  }

  .image-icon {
      position: absolute;
      top: 0;
      left: 70px;
      z-index: 10;
      height: 30px;
      width: 30px;
      background-color: #2A2E35;
      border-radius: 50%;
  }

  .camera {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
  }